.tab-main{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 600px;
    background: var(--gray-200-color);

    background-image: url(../images-services/services-main-bg.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.tab-info{
    padding-top: 150px;
    width: 65%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.homepage-way{
    display: flex;
    gap: 8px;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 25px;
    margin-bottom: 40px;
}

.homepage-way-text, .other-way-text{
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
}

.homepage-way-text{
    color: var(--gray-800-color);
} 

.other-way-text{
    color: var(--gray-600-color);
}

#title-services-page, #title-our-works-page{
    margin-bottom: 25px;
}

.tab-discription{
    height: 100px;
    width: 600px;

    color: var(--gray-700-color);
    font-family:var(--main-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

@media screen and (max-width: 1420px) {
    .tab-main{
        background-image: none;
    }
}

@media screen and (max-width: 840px) {
    .tab-info{
        width: 90%;
    }

    .tab-discription{
        width: 100%;
        height: 210px;
    }
}

@media screen and (max-width: 450px) {
    .homepage-way{
        margin-bottom: 10px;
    }

    .tab-main{
        height: 440px;
    }

    #title-services-page, #title-our-works-page{
        margin-bottom: 10px;
        font-size: 50px;
    }

    .tab-info{
        padding-top: 120px;
    }

    .tab-info{
        align-items: center;
    }

    .tab-discription{
        font-size: 18px;
    }
}

@media screen and (max-width: 315px) {
    #title-our-works-page{
        font-size: 40px;
    }
}

@media screen and (max-width: 280px){
    #title-services-page{
        font-size: 40px;
    }
}